.fondo-parallax{
    background: url(../img/family-home-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 150px 0px;
}
.parallax{
    width: 90%;
    margin: auto;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}
.parallax h3{
    text-align: center;
    padding: 10px;
    font-size: 26px;
}
.parallax p{
    text-align: center;
    font-size: 18px;
    padding: 10px;
}